<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arekar.android.ventascasacasa" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClientDetailsActivity"/>
        <service android:name=".service.SyncDataService"/>
        <provider
            android:name="com.arekar.android.ventascasacasa.provider.jsondataprovider.JsonDataProvider"
            android:authorities="com.arekar.android.ventascasacasa.provider.json
dataprovider"
            android:exported="false" />
    </application>

</manifest>
