<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arekar.android.ventascasacasa" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClientDetailsActivity"
            android:theme="@style/MyMaterialLightTheme"
            />

        <service android:name=".service.SyncDataService" />

        <provider
            android:name=".provider.jsondataprovider.JsonDataProvider"
            android:authorities="com.arekar.android.ventascasacasa.provider.jsondataprovider"
            android:exported="false" />

        <activity
            android:name=".activities.ClientDetailsAct"
            android:label="@string/title_activity_client_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/MyMaterialLightTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.arekar.android.ventascasacasa.MainActivity" />
        </activity>
    </application>

</manifest>
